<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBannerPageLabel">Create or edit a Banner Page</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bannerPage.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bannerPage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bannerPage">Banner Page</label>
            <input type="text" class="form-control" name="bannerPage" id="field_bannerPage"
                [(ngModel)]="bannerPage.bannerPage" required maxlength="200"/>
            <div [hidden]="!(editForm.controls.bannerPage?.dirty && editForm.controls.bannerPage?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.bannerPage?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.bannerPage?.errors?.maxlength">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_activate">Activate</label>
            <input type="checkbox" class="form-control" name="activate" id="field_activate"
                [(ngModel)]="bannerPage.activate" />
            <div [hidden]="!(editForm.controls.activate?.dirty && editForm.controls.activate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.activate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
