
<div *ngIf="bannerSize">
    <h2><span>Banner Size</span> {{bannerSize.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Banner Size</span></dt>
        <dd>
            <span>{{bannerSize.bannerSize}}</span>
        </dd>
        <dt><span>Activate</span></dt>
        <dd>
            <span>{{bannerSize.activate}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'banner-size/'+ bannerSize.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
